@keyframes wave {
    0% {
        border-radius: 25%;
    }
    100% {
        border-radius: 50%;
    }
}

@keyframes wave-after {
    0% {
        border-radius: 25%;
        left: -50px;
    }
    100% {
        border-radius: 50%;
        left: -42px;
    }
}

@keyframes wave-before {
    0% {
        border-radius: 25%;
        left: 44px;
    }
    100% {
        border-radius: 50%;
        left: 36px;
    }
}

@keyframes ocean {
    0% {
        top: 0;
    }
    100% {
        top: 20px;
    }
}

body {
    background: #26C6DA;
}

.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
    height: 30px;
    animation: ocean .9s infinite alternate ease-in-out;
}

.loading,
.loading:after,
.loading:before {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid transparent;
    
    box-sizing: border-box;
}
.loading.top{
    border-bottom-color: #b8ede3;
}
.loading.mid{
    border-bottom-color: #8dddd4;
}
.loading.bottom{
    border-bottom-color: #49c0bc;
}
.loading.top:after{
    border-bottom-color: #b8ede3;
}
.loading.mid:after{
    border-bottom-color: #8dddd4;
}
.loading.bottom:after{
    border-bottom-color: #49c0bc;
}
.loading.top:before{
    border-bottom-color: #b8ede3;
}
.loading.mid:before{
    border-bottom-color: #8dddd4;
}
.loading.bottom:before{
    border-bottom-color: #49c0bc;
}
.loading {
    position: relative;
    margin: auto;
    margin-bottom: -80px;
    animation: wave 1.1s infinite alternate ease-in-out;
    z-index:9;
}

.loading:after,
.loading:before {
    position: absolute;
    content: "";
    display: block;
    top: -3px;
}

.loading:after {
    left: -42px;
    animation: wave-after 1.1s infinite alternate ease-in-out;
}

.loading:before {
    left: 36px;
    animation: wave-before 1.1s infinite alternate ease-in-out;
}

.loadContainer{
    position:absolute;
    top:0px;
    width:100%;
    height:100%;
    background-color:#002b32;
    opacity:0.0;
    z-index:10;
    pointer-events:none;
    -webkit-transition: opacity 0.65s ease-in-out;
    -moz-transition: opacity 0.65s ease-in-out;
    -o-transition: opacity 0.65s ease-in-out;
    transition: opacity 0.65s ease-in-out;
}